<html><head>#if($IMAIBaseUrl)<meta name="viewport" content="width=device-width, height=device-height,user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"/><base href="$IMAIBaseUrl"></base>#end<style type="text/css">#im_1011_ad{display: table;}#im_1011_p{vertical-align: middle; text-align: center;}</style></head><body style="margin:0;padding:0;"><div id="im_1011_ad" style="width:100%;height:100%"><div id="im_1011_p" style="width:100%;height:100%" class="im_1011_bg">$PartnerHtmlCode</div></div>#if($IMBeaconUrl)<img src='${IMBeaconUrl}?b=${WIN_BID}' height=1 width=1 border=0 />#end#if($PartnerBeaconUrl)<img src='$PartnerBeaconUrl' height=1 width=1 border=0 />#end</body></html>
