#if($Sprout)
    <!DOCTYPE html>
#end
<html>
    <head>
        #if($IMAIBaseUrl)
            <meta name="viewport" content="width=device-width, height=device-height, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"/>
            <base href="$IMAIBaseUrl"></base>
        #end
        <style type="text/css">
            #im_1011_ad{
                display: table;
            }
            #im_1011_p{
                vertical-align: middle;
                text-align: center;
            }
            #if($Sprout)
                body{
                    overflow:hidden;
                }
            #end
            .im_1011_beacon{
                display: none;
            }
        </style>
    </head>
    <body style="margin:0;padding:0;">
        <div id="im_1011_ad" style="width:100%;height:100%">
            <div id="im_1011_p" style="width:100%;height:100%">
                $PartnerHtmlCode

                <script type='text/javascript'>
                    var events = {
                        loadBeacons : [#if($IMBeaconUrl) '${IMBeaconUrl}?m=1' #end],
                        renderBeacons : [
                            #if($IMBeaconUrl) '${IMBeaconUrl}?m=18&b=${WIN_BID}${DEAL_GET_PARAM}' #end
                            #if($PartnerBeaconUrl), '$PartnerBeaconUrl' #end
                        ],
                        clickBeacons : [#if($IMClickUrl) '${IMClickUrl}' #end],
                        viewabilityBeacon1Sec: [#if($IMBeaconUrl) '${IMBeaconUrl}?m=99&action=viewability_one_second' #end],
                        viewabilityBeacon2Sec: [#if($IMBeaconUrl) '${IMBeaconUrl}?m=99&action=viewability_two_second' #end],
                        viewabilityBeacon1SecSimple: [#if($IMBeaconUrl) '${IMBeaconUrl}?m=99&action=viewability_one_second_simple' #end],
                        viewabilityBeacon2SecSimple: [#if($IMBeaconUrl) '${IMBeaconUrl}?m=99&action=viewability_two_second_simple' #end]
                    },
                    state = {
                        viewability1SecBeaconsFired: false,
                        viewability2SecBeaconsFired: false
                    },
                    eventHandler = {
                        fireBeacon : function (beaconUrl) {
                            if (undefined === beaconUrl) {
                                return;
                            }
                            var x = document.createElement("img");
                            x.setAttribute("src", beaconUrl);
                            x.className = "im_1011_beacon";
                            document.body.appendChild(x);
                        },
                        fireBeacons : function (beaconList) {
                            for (var index = 0; index < beaconList.length; ++index) {
                                var element = beaconList[index];
                                if (undefined !== element) {
                                    this.fireBeacon(beaconList[index]);
                                }
                            }
                        },
                        fireLoadBeacons : function () {
                            this.fireBeacons(events.loadBeacons);
                        },
                        fireRenderBeacons : function () {
                            var self = this;
                            #if($Viewable)
                                window.setTimeout(
                                    function() {
                                        self.fireBeacons(events.renderBeacons);
                                    },
                                    1000
                                );
                            #else
                                self.fireBeacons(events.renderBeacons);
                            #end
                            window.setTimeout(
                                function () {
                                    if (!state.viewability1SecBeaconsFired) {
                                        state.viewability1SecBeaconsFired = true;
                                        self.fireBeacons(events.viewabilityBeacon1Sec);
                                    }
                                    self.fireBeacons(events.viewabilityBeacon1SecSimple);
                                },
                                1000
                            );
                            window.setTimeout(
                                function() {
                                    if (!state.viewability2SecBeaconsFired) {
                                        state.viewability2SecBeaconsFired = true;
                                        self.fireBeacons(events.viewabilityBeacon2Sec);
                                    }
                                    self.fireBeacons(events.viewabilityBeacon2SecSimple);
                                },
                                2000
                            );
                        },
                        fireClickBeacons : function () {
                            this.fireBeacons(events.clickBeacons);
                            if (!state.viewability2SecBeaconsFired) {
                                state.viewability2SecBeaconsFired = true;
                                this.fireBeacons(events.viewabilityBeacon2Sec);
                            }
                            if (!state.viewability1SecBeaconsFired) {
                                state.viewability1SecBeaconsFired = true;
                                this.fireBeacons(events.viewabilityBeacon1Sec);
                            }
                        }
                    };


                    function fireAdReady () {
                        var readyHandler=function() {
                            _im_imai.fireAdReady();
                            _im_imai.removeEventListener('ready', readyHandler);
                        };
                        _im_imai.addEventListener('ready', readyHandler);
                    }

                    var count = 0,
                        mraid = window.mraid;

                    function checkForMraid() {
                        count++;

                        if (4 !== count) {
                            if ("undefined" !== typeof mraid) {
                                if (typeof mraid.isViewable === "function" && mraid.isViewable()) {
                                    eventHandler.fireRenderBeacons();
                                } else {
                                    mraid.addEventListener("viewableChange", function(viewable) {
                                        if (viewable) {
                                            mraid.removeEventListener("viewableChange", arguments.callee);
                                            eventHandler.fireRenderBeacons();
                                        }
                                    });
                                }
                            }
                        } else {
                            setTimeout(checkForMraid, 500);
                        }
                    }


                    function setupRender () {
                        #if($isInterstitial)
                            #if($SDK)
                                checkForMraid();
                            #else
                                eventHandler.fireRenderBeacons();
                            #end
                        #else
                            eventHandler.fireRenderBeacons();
                        #end
                    }


                    function setupClick() {
                        function clickHandler() {
                            document.removeEventListener('click', clickHandler);
                            eventHandler.fireClickBeacons();
                        }
                        document.addEventListener('click', clickHandler);
                    }

                    eventHandler.fireLoadBeacons();
                    setupClick();
                    #if($SDK450Onwards && $isInterstitial)
                        fireAdReady();
                    #end
                    setupRender();
                </script>
                ## ViewabilityTrackers have been added at the end to prevent the rest of the ad from failing for faulty viewability trackers
                #if($Viewable && $ViewabilityTracker) $ViewabilityTracker #end
            </div>
        </div>
    </body>
</html>
