#set($hostedJS = "https://inmobi-dtb.s3.amazonaws.com/IFC/CCN/formats/intermediate_ifc.v2.html")
<html>
    <head>
        <meta name="viewport" content="user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"/>
        <style type="text/css">
            html,body{
                overflow: hidden;
                margin: 0;
                padding: 0;
                height: 100%;
                position: relative;
            }
            #im_1011_ad{
                background: rgba(0,0,0,0.8);
            }
            .im_1011_beacon{
                display: none;
            }
        </style>
    </head>
    <body>
        #if($IMAIBaseUrl)<script type="text/javascript" src="${IMAIBaseUrl}"></script>#end
        <div id="im_1011_ad" style="width:100%;height:100%">
            <script type="text/javascript">
                #if($SDK450Onwards && $isInterstitial)
                    var readyHandler=function(){
                        _im_imai.fireAdReady();
                        _im_imai.removeEventListener('ready', readyHandler);
                    };
                    _im_imai.addEventListener('ready', readyHandler);
                #end

                #if($SDK)
                    window.openDeeplink = function(primary_url, fallback_url) {

                        #if($SDK500Onwards)
                            var openExternal = imraid.openExternal;
                        #else
                            var openExternal = mraid.openExternal;
                        #end

                        var fireTrackers = function(trackers) {
                            for(var i=0;i<trackers.length;++i){
                                new Image().src = trackers[i];
                            }
                        }

                        var handleFallback = function(fallback_url, fallback_trackers) {
                            openExternal(fallback_url);
                            fireTrackers(fallback_trackers);
                        }

                        var baseInmobiCustomBeacon = '${IMBeaconUrl}?m=99&action=';

                        #if($IS_DEEPLINK_SUPPORTED)
                            var checkIfViewable = function() {
                                return (typeof mraid.isViewable === "function" && mraid.isViewable());
                            }

                            primary_trackers = [baseInmobiCustomBeacon + 'dpl'];
                            fallback_trackers = [baseInmobiCustomBeacon + 'dpl-fallback'];

                            fireTrackers(primary_trackers);
                            #if($ANDROID)
                                if(fallback_url){
                                    var errorHandler = function() {
                                        mraid.removeEventListener('error', errorHandler);
                                        handleFallback(fallback_url, fallback_trackers);
                                    };
                                    mraid.addEventListener('error', errorHandler);
                                }
                                openExternal(primary_url);
                            #elseif($IOS)
                                #if($SDK500Onwards)
                                    openExternal(primary_url);
                                    setTimeout(
                                        function() {
                                            if(checkIfViewable()) {
                                                handleFallback(fallback_url, fallback_trackers);
                                            }
                                        }, 2000);
                                #else
                                    var urlObj = {
                                        'fallbackurl': fallback_url,
                                        'url': primary_url,
                                        'beacons': primary_trackers,
                                        'fallbackbeacons': fallback_trackers
                                    };
                                    var hostedJsUrl = '${hostedJS}?data=' + encodeURIComponent(JSON.stringify(urlObj)) +
                                        '&fallback=true';
                                    openExternal(hostedJsUrl);
                                #end
                            #end
                        #else
                            fallback_trackers = [baseInmobiCustomBeacon + 'dpl-invalid'];
                            handleFallback(fallback_url, fallback_trackers);
                        #end
                    }
                #end

                window['im_1011_fireBeacon'] = function(beaconUrl) {
                    if (undefined === beaconUrl) {
                      return;
                    }
                    var x = document.createElement("img");
                    x.setAttribute("src", beaconUrl);
                    x.className = "im_1011_beacon";
                    document.body.appendChild(x);
                };
                (function() {
                    #if($IMClickUrl)
                        var clickHandler = function() {
                            document.removeEventListener('click', clickHandler);
                            window['im_1011_fireBeacon']('${IMClickUrl}');
                        };
                        document.addEventListener('click', clickHandler);
                    #end
                })();
            </script>
            #if($IMBeaconUrl)
                <img src='${IMBeaconUrl}?b=${WIN_BID}' height=1 width=1 border=0 />
            #end
            #if($PartnerBeaconUrl)
                <img src='$PartnerBeaconUrl' height=1 width=1 border=0 />
            #end
            $PartnerHtmlCode
        </div>
    </body>
</html>
