<html>#if($IMAIBaseUrl)<head><meta name="viewport" content="width=device-width, height=device-height,user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"/><base href="$IMAIBaseUrl"></base></head>#end<body style="margin:0;padding:0;">$PartnerHtmlCode#if($IMBeaconUrl)<img src='$IMBeaconUrl' height=1 width=1 border=0 />#end#if($PartnerBeaconUrl)<img src='$PartnerBeaconUrl' height=1 width=1 border=0 />#end</body></html>