<html><head><title></title><style type="text/css">body {margin: 0px; overflow: hidden;} </style></head><body>
<script type='text/javascript'>
  var googletag = googletag || {};
  googletag.cmd = googletag.cmd || [];
  (function() {
    var gads = document.createElement('script');
    gads.async = true;
    gads.type = 'text/javascript';
    var useSSL = 'https:' == document.location.protocol;
    gads.src = (useSSL ? 'https:' : 'http:') +
      '//www.googletagservices.com/tag/js/gpt.js';
    var node = document.getElementsByTagName('script')[0];
    node.parentNode.insertBefore(gads, node);
  })();
</script>

<script type='text/javascript'>
  googletag.cmd.push(function() {
    googletag.pubads().set("page_url", "$googlePageURL");
    googletag.defineSlot('/14503685/AdUnitForAdx', [[$width, $height]], 'div-gpt-ad-1435740571311-0').setTargeting('adxtagid', ['$adTagId']).addService(googletag.pubads());
    googletag.pubads().addEventListener('slotRenderEnded', function(event) {
        if (!event.isEmpty) {
            var beaconElement = document.createElement("img");
            beaconElement.src = "$IMBeaconUrl";
            beaconElement.style = "display:none";
            beaconElement.height = 1;
            beaconElement.width = 1;
            beaconElement.border = 0;
            document.getElementById("div-gpt-ad-1435740571311-0").appendChild(beaconElement);
          }
    });
    googletag.enableServices();
  });
</script>
<!-- /14503685/AdUnitForAdx -->
<div id='div-gpt-ad-1435740571311-0'>
<script type='text/javascript'>
googletag.cmd.push(function() { googletag.display('div-gpt-ad-1435740571311-0'); });
</script>
</div></body></html>
