<script type="text/javascript">google_ad_client = "$googleInMobiPubId";google_ad_slot = "$adTagId";google_ad_width = $width;google_ad_height = $height;#if($googlePageURL)google_page_url = "$googlePageURL";#end</script><script type="text/javascript" src="//pagead2.googlesyndication.com/pagead/show_ads.js"></script>